<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.png" type="image/png">
    <title>Developer - Anoop Kumar</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body id="page-top" ng-app="myApp" ng-controller="HomeController">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Anoop Kumar</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Developer</h1>
              <p class="intro-text">Not by work, But by passion!</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Me</h2>
            <p>I am an experienced programmer who has extensive knowledge of agreed technology standards and who is familiar with modern build practices.  I am passionate about Cloud computing and Java platform with a demonstrated history of working in the information technology and services industry. </p>
            <p>Skilled in Java, Javascript, Spring, Spring boot, hibernate, AngularJs and various other engineering tools and frameworks.</p>
            <p>Strong engineering professional with a Engineer's Degree focused in Computer Software Engineering from University of Kerala.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>DIG A LITTLE DEEPER</h2>
          <p> Find out what I've accomplished over the years</p>
          <a target="blank" href="https://s3.amazonaws.com/a3125fe/Resume_AnoopKumar.pdf" class="btn btn-default btn-lg">Download Resume</a>
        </div>
      </div>
    </section>

    <section class="container-fluid resume_content">
      <div class="container">
        
        <div class="row">
          <div class="col resume-margin">
            <span></span>
          </div>
          <div class="col resume-margin">
            <h4>DAY-TO-DAY COMFORT</h4>
          </div>
          <div class="col resume-margin">
            <h4>EXPERIENCE WITH</h4>
          </div>
        </div>


        <div class="row">
          <div class="col resume-margin">
            <span >Languages</span>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Java</li>
              <li>Javascript</li>
              <li>HTML</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Python</li>
              <li>CSS</li>
              <li>Typescript</li>
              <li>Android</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col resume-margin">
            <span >Java Frameworks/Tools</span>
          </div>
          
          <div class="col resume-margin">
            <ul>
              <li>Spring WEB</li>
              <li>Spring Boot</li>
              <li>Spring MVC</li>
              <li>Spring Security</li>
              <li>Spring JPA</li>
              <li>Spring Cloud</li>
              <li>AOP</li>
              <li>Apache Shiro</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Hibernate</li>
              <li>Jersy</li>
              <li>Drools</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col resume-margin">
            <span >Web Frameworks/Libraries</span>
          </div>
          
          <div class="col resume-margin">
            <ul>
              <li>AngularJS 1.x</li>
              <li>Bootsrap</li>
              <li>NPM</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Angular 5</li>
              <li>Grunt</li>
              <li>Jasmine</li>
              <li>Karma</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col resume-margin">
            <span >AWS Microservices</span>
          </div>
          
          <div class="col resume-margin">
            <ul>
              <li>Lambda</li>
              <li>API Gateway</li>
              <li>S3</li>
              <li>EC2</li>
              <li>Cloudwatch</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Route 53</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col resume-margin">
            <span>SCM</span>
          </div>
          
          <div class="col resume-margin">
            <ul>
              <li>SVN</li>
              <li>Git</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>TFC</li>
              <li>Mercurial</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col resume-margin">
            <span>Databases</span>
          </div>
          
          <div class="col resume-margin">
            <ul>
              <li>MongoDB</li>
              <li>MySQL</li>
              <li>PSQL</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Oracle</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col resume-margin">
            <span>IDE</span>
          </div>
          
          <div class="col resume-margin">
            <ul>
              <li>Eclipse</li>
              <li>Sublime 3</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Netbeans</li>
              <li>Visual Studio</li>
              <li>Android Studio</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col resume-margin">
            <span>Miscellaneous</span>
          </div>
          
          <div class="col resume-margin">
            <ul>
              <li>Jenkins</li>
              <li>Sonar</li>
              <li>Apache Tomcat</li>
            </ul>
          </div>
          <div class="col resume-margin">
            <ul>
              <li>Kaa</li>
              <li>Teamcity</li>
            </ul>
          </div>
        </div>
      </div>
      
    </section>
    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Mob : +91 - 8907450179 / 7907231274 <br>
            Email : anoopkumar91.dev@gmail.com</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a target="blank" href="https://www.facebook.com/anoop.kr05" class="btn btn-default btn-lg">
                  <i class="fa fa-facebook fa-fw"></i>
                  <span class="network-name">Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="blank" href="https://github.com/Anoopkr" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="blank" href="https://www.linkedin.com/in/anoop-kumar-b04845a5/" class="btn btn-default btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">LinkdIn</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">


          <form ng-submit="sendMail()">
            <div class="row form-group">
              <div class="col-md-6">
                <!-- <label for="fname">First Name</label> -->
                <input type="text" id="fname" class="form-control" placeholder="Your firstname" ng-model="data.firstName" required>
              </div>
              <div class="col-md-6">
                <!-- <label for="lname">Last Name</label> -->
                <input type="text" id="lname" class="form-control" placeholder="Your lastname" ng-model="data.lastName">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <!-- <label for="email">Email</label> -->
                <input type="email" id="email" class="form-control" placeholder="Your email address" ng-model="data.email" required>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <!-- <label for="subject">Subject</label> -->
                <input type="text" id="subject" class="form-control" placeholder="Your subject of this message" ng-model="data.subject" required>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <!-- <label for="message">Message</label> -->
                <textarea name="message" id="message" cols="30" rows="10" class="form-control" ng-model="data.message" placeholder="Your message"></textarea>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message"  class="btn btn-primary">              
            </div>
            <div class="alert alert-success" ng-if="message">
                <strong>Success!</strong> {{message}}
            </div>
            <div class="alert alert-danger" ng-if="errorMessage">
              <strong>Fail!</strong> {{errorMessage}}
            </div>
          </form>   
        





            
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section -->
    <div id="map"></div>
    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; anoopkrdev.in 2018</p>
      </div>
    </footer>

    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->
    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
  </body>
</html>